$color-blue: #111831;
$color-green: #3c8b82;
$color-black: #000000;
$color-white: #ffffff;

$font: 'Open Sans', sans-serif;

$text-light: 300;
$text-regular: 400;
$text-semibold: 600;
$text-bold: 700;