.container {
  &--main {
    width: 100%;
    transition: all .2s;

    @media #{$tablet} {
      display: flex;
      flex-direction: column;
      width: 58%;
      padding-right: 3rem;
    }

    @media #{$lTablet} {
      max-width: 44rem;
    }
    
    & .section {

      &--header {
        & .logo--wrapper {
          & .wrapper {
            & .image {
              display: none;

              @media #{$tablet} {
                display: block;
                position: absolute;
                top: 27.5rem;
                left: 47%;
                z-index: 10;
              }

              @media #{$mTablet} {
                top: 25.3rem;
              }

              @media #{$lTablet} {
                left: 39%;
                top: 24rem;
              }
            }

            & p {
              letter-spacing: 0.2px;
              @media #{$tablet} {
                display: block;
                position: absolute;
                top: 27.5rem;
                left: 50%;
                z-index: 10;
                max-width: 10rem;
              }

              @media #{$mTablet} {
                top: 25.3rem;
              }

              @media #{$lTablet} {
                top: 23.5rem;
                left: 43%;
                font-size: 1.32rem;
              }
            }
          }
        }
      }

      &--1 {
        @media #{$tablet} {
          width: 95%;
          margin: 0;
        }

        @media #{$lTablet} {
          width: 90%;
        }

        &_text {
          &--1 {
            line-height: 2rem;
            letter-spacing: 0.55px;
            text-align: left;
            hyphens: auto;
       
            @media #{$tablet} {
              margin-top: 4rem;
              font-size: 1.35rem;
              letter-spacing: 0.9px;
              max-width: 37rem;
            }
          }

          &--2 {
            letter-spacing: 0.9px;
            @media #{$tablet} {
              font-size: 1.35rem;
              padding-bottom: 2.4rem;
              border-bottom: 1px solid $color-white;
              width: 78%;
            }

            @media #{$lTablet} {
              padding-bottom: 1.6rem;
              padding-right: 0;
              line-height: 2.1rem;
              width: 80%;
            }
            
          }

          &-wrapper--1 {
            display: flex;
            align-items: flex-start;
            margin-top: 1.8rem;
            @media #{$tablet} {
              margin-left: -4rem;
            }

            @media #{$mTablet} {
              margin-top: 1rem;
            }

            @media #{$lTablet} {
              margin-top: .5rem;
            }
        

            & img {
              min-height: 3.3rem;
              min-width: 2.7rem;
              max-height: 3.3rem;
              max-width: 2.7rem;
              margin-right: 1.2rem;
            }
          }
        }
      }
      &--2 {
        display: flex;
        align-items: stretch;
        justify-content: space-around;

        @media #{$mMobile} {
          justify-content: flex-start;
        }

        @media #{$tablet} {
          position: absolute;
          top: 0;
          right: 0;
          margin: 4rem 5rem 0 0 
        }

        @media #{$mTablet} {
          position: absolute;
          top: 0;
          right: -8rem;
          margin: 4rem 0 0 0 
        }

        @media #{$lTablet} {
          right: 3rem;
        }

        &_main-wrapper {
          &--1 {
            & .trener-image {
              min-height: 20rem;
              min-width: 15.5rem;
              max-height: 20rem;
              max-width: 15.5rem;

              @media #{$mMobile} {
                min-height: 36rem;
                min-width: 27.5rem;
                max-height: 36rem;
                max-width: 27.5rem;
              }

              @media #{$mTablet} {
                min-height: 54rem;
                min-width: 41.5rem;
                max-height: 54rem;
                max-width: 41.5rem;
              }
            }
          }
          &--2 {
            display: flex;
            justify-content: space-between;
            align-items: center;
            flex-direction: column;
            margin-left: 2rem;

            @media #{$mMobile} {
              margin-left: 4rem;
              justify-content: center;
            }

            @media #{$tablet} {
              position: absolute;
              //bottom: -29.5%;
              bottom: -34.5%;
              margin-left: 2rem;
            }

            @media #{$mTablet} {
              margin-left: 0;
              right: 76%;
              bottom: -22.5%;
            }

            @media #{$lTablet} {
              right: 85%;
              //right: 24%;
            }

            & .text-wrapper {
              width: 100%;
              & p {
                text-align: center;
                letter-spacing: .7px;

                @media #{$tablet} {
                  & br {
                    display: none;
                  }
                }
              }
            }

            & .image-wrapper {
              display: flex;
              flex-direction: column;
              align-items: flex-start;
              justify-content: space-between;
              margin-top: 1rem;
              padding: 0 0.5rem 0 1rem;
              height: 100%;


              @media #{$mMobile} {
                margin-top: 1.5rem;
                padding: 1.5rem;
                border-top: 1px solid $color-white;
                border-bottom: 1px solid $color-white;
                height: auto;
                justify-content: flex-start;
              }


              @media #{$tablet} {
                flex-direction: row;
              }

              @media #{$mTablet} {
                border-top: none;
                border-bottom: none;
                margin-top: 1rem;
                padding: 1rem;
              }

              & a {
                margin-bottom: 1rem;
                transition: all .2s;

                @media #{$mMobile} {
                  margin-bottom: 2.5rem;
                }

                @media #{$tablet} {
                  margin-bottom: 0;
                  margin-right: 2.5rem;

                  &:first-of-type {
                    margin-left: 2.5rem;
                  }
                }

                &:last-of-type {
                  margin-bottom: 0;
                }

                &:hover {
                  filter: brightness(0.8);
                  transition: all .2s;
                }
              }
            }
          }
        }
      }

      &--3 {
        @media #{$tablet} {
          order: 3;
          min-width: 66.8rem;
        }

        @media #{$mTablet} {
          min-width: 0;
          margin-top: 0;
        }

        & .text-wrapper {
          @media #{$lTablet} {
            display: flex;
            justify-content: center;
          }
          & p {
            letter-spacing: .8px;
            text-align: center;

            @media #{$mTablet} {
              margin-top: 1.5rem;
            }

            @media #{$lTablet} {
              font-size: 1.85rem;
              line-height: 2.45rem;
              letter-spacing: 0.95px;
              max-width: 29rem;
              margin-top: .5rem;
            }
          }
        }

        & .btn-main {

          @media #{$mTablet} {
            margin-top: 2.5rem;
          }

          @media #{$lTablet} {
            margin-top: 1.5rem;
          }
        }
      }

      &--4 {
        border-top: 1px solid $color-white;
        border-bottom: 1px solid $color-white;
        padding: 1.8rem 0;
        margin-bottom: 4rem;

        @media #{$tablet} {
          border-top: none;
          padding-top: 1.8rem;
          //padding-bottom: 4rem;
          padding-bottom: 1.8rem;
        }

        @media #{$mTablet} {
          margin-bottom: 1.5rem;
          padding-bottom: 1.8rem;
        }

        & .text-wrapper {
          & p {
            letter-spacing: 1.3px;
            text-align: center;

            @media #{$tablet} {
              text-align: left;
            }

            @media #{$lTablet} {
              font-size: 1.35rem;
            }
          }
        }

        & .image-wrapper {
          & .image-row {
            display: flex;
            justify-content: space-between;
            align-items: center;
            width: 100%;

            @media #{$mMobile} {
              justify-content: space-between;
            }

            &:last-of-type {
              img {
                width: auto;
                &:first-of-type {
                  width: 45%;
                }
                
                @media #{$tablet} {
                  width: auto;
                  &:first-of-type {
                    width: auto;
                  }
                }
              }
            }
          }
          & img {
            filter: brightness(0) invert(1);
            width: auto;
            @media #{$mMobile} {
              padding: 0;
            }
            @media #{$tablet} {
              padding: 1%;
              width: auto;
            }

            &:first-of-type {
              padding-left: 0;
            }

            &:last-of-type {
              padding-right: 0;
            }
          }
        }
      }
    }

  }

  &--footer {
    position: absolute;
    bottom: 0;
    width: 100%;
    left: 0;
    right: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    z-index: 100;
    & .link {
      color: $color-blue;

      &:visited {
        color: $color-blue;
      }
    }
  }

  &--cookies {
    padding: 1rem 2rem 3rem;
    display: flex;
    position: fixed;
    bottom: 0;
    left: 0;
    right: 0;
    width: 100%;
    margin: 0 auto;
    background-color: rgba($color: #000000, $alpha: 0.7);

    @media #{$tablet} {
      background-color: rgba($color: #000000, $alpha: 0);
      padding: 1rem 4rem 3rem;
      width: auto;
      max-width: 100rem;
    }

    @media #{$lTablet} {
      width: auto;
      max-width: 105rem;
    }
    
    & .text-wrapper {
      text-align: center;
    }

    & .btn-close {
      cursor: pointer;
      margin-left: 1rem;
    }
    &.show {
      transition: all .5s;
    }
    &.hide {
      transition: all .5s;
    }
  }
}