@import 'helpers/variables', 'helpers/classes';

html {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  height: 100%;
  font-size: 10px;
  font-family: $font;

  & * {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
  }
}

body {
  height: 100%;
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  background-image: url('../img/background.png');
  background-size: cover;
  background-repeat: no-repeat;
  background-position: 5% 0;
  background-attachment: fixed;
}


@import 'main';